<div class="row">
    <div class="col col-md-4" *ngFor="let report of reports">
      <div class="card mb-4">
        <div class="card-body text-center">
            <p><img class="rounded-circle" src="assets/card-image.png"></p>
            <h5 class="card-title"><strong>Mathew Alex</strong></h5>
            <p class="card-text">Email</p>
            <p class="card-text">Phone</p>
            <p class="card-text">Job</p>
            <a href="#" class="btn btn-primary">Views Details</a>
        </div>
      </div>
    </div>
  </div>