<div class="jumbotron jumbotron-fluid" style="padding: 6rem 0rem 2rem 0rem">
  <div class="container">
    <h1 class="display-5">Welcome to BV FrontEnd Challege</h1>
    <p class="lead">Hello {{currentUser}}</p>
    <p class="lead">Make your own reports. Start by searching an email.</p>
  </div>
</div>

<div class="container">
  <h3>Search by email</h3>
  <div class="dropdown-divider"></div>
  <section>
    <form class="form" [formGroup]="searchForm" (submit)="getData($event)" id="formSearch">
      <div class="input-group mb-3">
        <input type="email" 
                class="form-control form-control-lg rounded-0"
                name="email" 
                id="email" 
                formControlName="email"
                placeholder="Searh here">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit" id="button">Search</button>
        </div>
      </div>
      <div *ngIf="email.errors && isValidFormSubmitted != null && !isValidFormSubmitted"> 
          <div *ngIf="email.errors.pattern">
              <p class="text-danger">Email pattern not valid.</p>
          </div> 
          <div *ngIf="email.errors.required">
              <p class="text-danger">Email is required.</p>
          </div> 
      </div> 
  </form>
  </section>

  <h3>My reports</h3>
  <div class="dropdown-divider"></div>
  <section>
    <app-report-list></app-report-list>
  </section>
</div>
