<div class="jumbotron jumbotron-fluid" style="padding: 6rem 0rem 2rem 0rem">
  <div class="container">
    <h1 class="display-5">Welcome to BV FrontEnd Challege</h1>
    <p class="lead">Hello {{currentUser}}</p>
    <p class="lead">Make your own reports. Start by searching an email.</p>
  </div>
</div>

<div class="container">
  <section>
    <div class="input-group mb-3">
      <input type="text" [(ngModel)]="email" class="form-control" placeholder="Email" aria-label="Search" aria-describedby="button">
      <div class="input-group-append">
        <button (click)="getData()" class="btn btn-outline-secondary" type="button" id="button">Search</button>
      </div>
    </div>
  </section>

  <h3>My reports</h3>
  <div class="dropdown-divider"></div>
  <section>
    <div class="card text-dark mb-3 lg-4">
      <div class="card-header bg-primary text-white">Report information</div>
      <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary float-right">View details</a>
      </div>
    </div>
  </section>
</div>
