<div class="jumbotron jumbotron-fluid" style="padding: 6rem 0rem 2rem 0rem">
  <div class="container">
    <h1 class="display-5">Welcome to BV FrontEnd Challege</h1>
    <p class="lead">Hello {{currentUser}}</p>
    <p class="lead">Make your own reports. Start by searching an email.</p>
  </div>
</div>

<div class="container">
  <div class="input-group mb-3">
    <input type="text" [(ngModel)]="email" class="form-control" placeholder="Email" aria-label="Search" aria-describedby="button">
    <div class="input-group-append">
      <button (click)="getData()" class="btn btn-outline-secondary" type="button" id="button">Search</button>
    </div>
  </div>
</div>
